/*imported an external font*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/*assign a global styling*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*style my header section*/
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: darksalmon;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    padding-left: 500px;
    font-family: "Dancing Script", "san-serif";
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color:rgb(104, 12, 12);
    background-color: darksalmon;
}
/*style my navigation section*/
.navigation {
    font-size: 16px ;
    text-align: right;
}
a:link{
    color:crimson;
}
a:visited{
    color: brown;
}
a:hover{
    font-size: large;
}
a:active{
    font-size: larger;
}
/*style the main body of the page*/
body{
    background-color: rgb(247, 221, 186);
}
.aboutbooks{
    margin-top: 120px;
}
h3{
    margin-left: 4px;
    text-align: center;
    color:brown
}
p{
    margin-left: 16px;
    margin-right: 16px;
    font-family: "Dancing Script", "san-serif";
    font-size: larger;
    font-style: bolder;
}
/*style my table*/
table{
    text-align: center;
    margin-left: 250px;
    margin-bottom: 100px;
    border: 2px solid black;
    padding: 2px;
    width: 900px;
    height: 100px;
    background-color: burlywood;
}
th, tr:nth-child(even){
    background-color: coral;
}
th, td, tr{
    border: 1px solid black;
}
/*style the footer of my page*/
footer{
    background-color: darksalmon;
    padding: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: none;
}
ul{
    margin-left: 32px;
    box-sizing: border-box;
    list-style-type: square;
    text-align:bottom left;
}
