*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    margin: 32px;
    padding: 16px 16px 16px 500px;
    color:rgb(105, 28, 0);
    background-color:darksalmon
};
.navigation {
    font-size: 64px ;
}
#quote{
    border: 4px dashed rgb(138, 4, 4);
    background-color: rgb(179, 69, 61);
    margin: 16px;
    padding: 32px;
    width: 200px;
}