*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    margin: 32px;
    background: linear-gradient(right, #e96f6f, rgb(119, 9, 9));
}
h1{
    text-align: center;
    margin-bottom: 32px;
    padding: 16px;
    color:rgb(104, 12, 12);
    background-color:rgb(211, 115, 98)
};
.navigation {
    font-size: 64px ;
}
#quote{
    border: 4px dashed rgb(138, 4, 4);
    background-color: rgb(179, 69, 61);
    margin: 16px;
    padding: 32px;
    width: 200px;
}